@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body, html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #5f2c82;
  height: 100vh;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  width: 250px;
  height: 520px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);

  transition: width 0.3s, height 0.3s;
  transition-timing-function: ease;
}

section#login h1 {
  text-align: center;
}

section#login p {
  font-size: 0.8em;
}

div#imagem {
  background: url(../imagens/metal.jpg) bottom center no-repeat;
  background-size: cover;
  width: 250px;
  height: 200px;
}

div#conteudo {
  padding: 10px 0px;
}

p {
  padding: 10px 10px 2px 10px;
}

div.info {
  width: 210px;
  background-color: #5f2c82;
  margin: auto;
  margin-top: 3px;
  border-radius: 8px;
}

div.info input {
  width: 82.6%;
  position: relative;
  border-radius: 8px;
}

div.info i.material-icons {
  color: white;
  font-size: 2em;
  padding-top: 5px;
}

div#formulario input {
  font-size: 1em;
  height: 34px;
  background-color: #94CFCD;
  border: none;
  border-radius: 8px;
}

div#formulario div {
  margin-bottom: 3px;
  padding: 3px 10px;
}

div#formulario > div.info > input:focus-within {
  background-color: white;
}

div#entrar input {
  background-color: #53aaa7;
  color: white;
  width: 230px;
  height: 40px;
  border-radius: 5px;
}

div#entrar input:hover {
  background-color: #2D6462;
  cursor: pointer;
}

div#esqueci {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 210px;
  height: 30px;
  border: 1px solid #53aaa7;
  border-radius: 7px;
}

div#esqueci:hover {
  background-color: #6CD3CF;
  cursor: pointer;
}

div#esqueci i.material-icons {
  font-size: 0.8em;
}

a {
  color: #2D6462;
  text-decoration: none;
}
