@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
  font-family: 'Play', sans-serif;
  text-align: center;
  color: rgb(182, 50, 50);
}

body {
  width: 96vw;
  background-color: rgb(250, 252, 178);
}

p {
  font-size: 1.2em;
}

p#link {
  padding-bottom: 15px;
}

p#voltar {
  margin: 1px;
}

p#link:hover {
  color:rgb(255, 0, 0);
}

img {
  width: 7vw;
}